<div>
    <h3>
        Monday:
    </h3>
    <table class="table" style="min-width: 30em">
        <thead>
            <tr>
                <th>Name</th>
                <th>Products</th>
                <th>Recipe</th>
                <th>Income</th>
                <th>Outcome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meal of (this.meals | async)">
                <td>
                    <span>{{ meal.name }}</span>
                </td>
                <td>
                    <span>{{meal.products}}</span>
                </td>
                <td>
                    <span>{{meal.recipe}}</span>
                </td>
                <td>
                    <span class="text-success">{{ meal.incomePrice }}$</span>
                </td>
                <td>
                    <span class="text-danger">{{ meal.outcomePrice }}$</span>
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-danger me-3" (click)="deleteMeal(meal.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="d-flex justify-content-end">
                        <a href="/new-meal/{{this.menuId}}" class="link-primary">Add new</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>